:root {
    --background-color: 250, 245, 233;
    --content-background-color: 254, 252, 247;
    --border-color: 252, 242, 228;
    --card-background-color: 253, 253, 251;
    --filters-background-color: 254, 250, 242;
    --text-color: 78, 61, 53;
    --pink: 241, 99, 142;
    --purple: 147, 121, 153;
    --orange: 209, 124, 62;
    --grid-columns: 5;
}

body {
    background-color: rgb(var(--background-color));
    padding: 2rem;
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: normal;
    color: rgb(var(--text-color));
}

.content {
    background-color: rgb(var(--content-background-color));
    border: 2px solid rgb(var(--border-color));
    border-radius: 20px;
    padding: 1.6rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 0.8rem;
    text-wrap: pretty;
    line-height: 1;
}

h1 span {
    text-transform: uppercase;
    color: rgb(var(--pink));
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
}

h2 {
    font-size: 1.2rem;
}

.subhead {
    font-size: 0.8rem;
    opacity: 0.8;
    padding-bottom: 1rem;
}

footer {
    font-size: 0.8rem;
    opacity: 0.8;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px solid rgb(var(--border-color));
    display: flex;
    justify-content: space-between;
}

a {
    color: rgb(var(--orange));
}

a:hover {
    color: rgb(var(--pink));
}

.penHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.penHeader .character,
.penHeader .color,
.penHeader .types .type {
    margin: 0;
    cursor: default;
}

.penHeader h2 {
    margin-right: 0.5rem;
}

.penHeader .chosen-filters {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-grow: 1;
}

.filters {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5rem;
    background-color: rgb(var(--filters-background-color));
    border: 1px solid rgb(var(--border-color));
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 1rem;
}

.filter-header {
    display: none;
}

@media (max-width: 600px) {

    .filter-header {
        display: block;
    }

    .penHeader {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .penHeader h2 {
        margin: 0;
    }

    .penHeader .chosen-filters {
        grid-column: span 2;
    }

    .penHeader .filter-button {
        margin: 0;
        grid-row: 1;
        grid-column: 2;
    }

    .penHeader .filter-button.show-images {
        grid-row: 2;
    }
}

label {
    font-weight: 700;
    font-size: 0.8rem;
    display: block;
    padding-bottom: 0.5rem;
}

.types .type,
.filter-button {
    background-color: rgb(var(--background-color));
    margin-right: 1rem;
    color: rgb(var(--text-color));
    opacity: 0.8;
    transition: opacity 0.3s ease;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    border: 0;
}

.types .type.active {
    color: rgb(var(--local-color));
    background-color: rgba(var(--local-color), 0.2);
}

.characters {
    grid-column: span 2;
}

.color,
.character {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: inline-block;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    border: 2px solid rgb(var(--border-color));
    cursor: pointer;
    margin-bottom: 0.5rem;
    background-size: cover;
}

.color.active,
.type.active,
.character.active {
    opacity: 1;
}

.color:hover,
.type:hover,
.character:hover {
    opacity: 1;
}

.metallic {
    background-image: linear-gradient(-45deg,
            rgba(255, 255, 255, 0.6) 0%,
            rgba(255, 255, 255, 0.2) 48%,
            rgba(0, 0, 0, 0.1) 50%,
            rgba(0, 0, 0, 0.3) 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

#penGrid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    gap: 1.2rem;
    margin-top: 1rem;
}

.no-results {
    text-align: center;
    font-size: 1rem;
    opacity: 0.8;
    padding: 2rem;
    grid-column: span var(--grid-columns);
}

@media (max-width: 1000px) {
    :root {
        --grid-columns: 4;
    }
}

@media (max-width: 750px) {
    :root {
        --grid-columns: 3;
    }
}

@media (max-width: 600px) {
    :root {
        --grid-columns: 2;
    }
}

.card {
    background-color: rgb(var(--card-background-color));
    border: 1px solid rgb(var(--border-color));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 0;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card.discontinued {
    opacity: 0.8;
}

.note.discontinued {
    /* text-decoration: line-through; */
    opacity: 0.6;
}

.card .card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    position: relative;
}

.card .card-header {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.character-image {
    border: 2px solid rgb(var(--border-color));
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.pen-image {
    width: 100%;
    border: 1px solid rgb(var(--border-color));
    border-radius: 5px;
}

.card .card-content .bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card .statement {
    font-size: 0.6rem;
    opacity: 0.8;
    text-transform: uppercase;
    margin-top: 0.2rem;
}

.card .note {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.card .ink {
    height: 20px;
    color: blue;
    margin-top: auto;
}

.type,
.filter-button,
.card-ribbon {
    font-size: 0.8rem;
    padding: 0.5rem;
    border: 0;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    margin-top: auto;
    text-decoration: none;
}

.type.type-friends {
    background-color: rgba(253, 193, 210, 0.3);
    color: rgb(var(--pink));
}

.type.type-erasable {
    background-color: rgba(239, 232, 239, 0.6);
    color: rgb(var(--purple));
}

.card-ribbon {
    background-color: rgb(var(--border-color));
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: rgba(var(--text-color), 0.8);
}

.card .type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.filter-button {
    margin-right: 0;
    margin-bottom: 0;
}

@media (max-width: 800px) {
    body {
        padding: 1rem;
    }

    .characters {
        grid-column: span 1;
    }
}

.owned-indicator {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.6rem;
    line-height: 1.2rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 100%;
    background-color: rgb(var(--purple));
    color: white;
    display: none;
}

.card:not(.showingImages) .owned-indicator {
    top: 0.6rem;
    right: 0.6rem;
}

.owned-checkbox {
    display: none;
}

.owned-checkbox:checked+.owned-indicator {
    display: block;
}

svg:focus,
img:focus {
    outline: none;
}